:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #fff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --icon-color: #afb1b8;
  --icon-bg-color: rgba(255, 255, 255, 0.1);
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-box: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --active-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --card-overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-overlay: rgba(0, 0, 0, 0.2);
  --modalbut-border-color: 1px solid rgba(0, 0, 0, 0.1);
  --padding: 94px;
  --transform-text: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-bgc: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-icon: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-border: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-box-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

/* CONTAINER */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/* Общие отступы для блоков */
.section {
  padding-bottom: var(--padding);
  padding-top: var(--padding);
  margin: 0 auto;
}

/* Хедер. Логотип */
.logo {
  margin-right: 43px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: var(--accent-color);
  line-height: calc(31 / 26);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo .top-logo {
  color: var(--primary-text-color);
}

.logo .bot-logo {
  color: var(--white-color);
}

.list {
  list-style: none;
}

/* Хедер. Навигационное меню */
.top-line .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-line .list {
  align-items: center;
}
.top-line {
  outline: 1px solid #ececec;
}
.top-line .link {
  text-decoration: none;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: var(--trnsform-text);
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-main .link {
  display: inline-block;
  position: relative;
  color: var(--primary-text-color);
}
.nav-main .list {
  gap: 50px;
}

.nav-main .link:hover,
.nav-main .link:focus,
.mail-link:hover,
.mail-link:focus,
.phone-link:hover,
.phone-link:focus {
  color: var(--accent-color);
}

/* Выбранный пункт меню */
.nav-main .selected {
  color: var(--accent-color);
}

.nav-main .selected::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  content: "";
  left: 0;
  top: calc(100% - 3px);
}

.nav-main .link::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  content: "";
  left: 0;
  top: calc(100% - 3px);
  opacity: 0;
  transform: scale(0);
  transition: var(--transform-bgc);
}

.nav-main .link:hover::before,
.nav-main .link:focus::before {
  opacity: 1;
  transform: scale(1);
}

/* Контакты в хедере */

.mail-icon {
  width: 20px;
  height: 16px;
  fill: var(--text-color);
  transform: translateY(20%);
  transition: var(--transform-icon);
}

.mail-link {
  margin-right: 50px;
}

.link:hover .mail-icon,
.link:focus .mail-icon {
  fill: var(--accent-color);
}

/* Формат текста */
.text {
  color: var(--text-color);
  line-height: calc(24 / 14);
}

.title-second {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  line-height: calc(42 / 36);
}

/* Герой */
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/dd953143a8a4d9f86ec8d71afc0e8103.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  background-color: var(--second-background-color);

  text-align: center;
  --padding: 200px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--backdrop-overlay);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: var(--shadow-box);
  border-radius: 4px;
}

.close-btn {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;
  background-color: inherit;
  border-radius: 50%;
  border: var(--modalbut-border-color);
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
}

/* Заголовок h1 */
.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  margin: 0 auto;
  margin-bottom: 30px;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero .hero-but {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);

  cursor: pointer;
  letter-spacing: 0.06em;

  color: #ffffff;
}

/* Особенности  */
.hiden {
  display: none;
}

.features {
  padding-bottom: 0px;
}

.features .list {
  /* flex-wrap: nowrap; */
}

.features .list-child {
  flex-basis: calc(100% / 4 - 30px);
}

.features .title-third {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-icon {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--third-background-color);
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Чем мы занимаемся */
.what-we-do img {
  display: block;
}
.what-we-do .list-child {
  position: relative;
}
.what-we-do .link-overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.what-we-do .text {
  text-align: center;
  color: var(--white-color);
  font-weight: bold;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

/* Наша команда */
.our-team {
  background-color: var(--third-background-color);
  text-align: center;
  font-weight: normal;
}
.our-team .list {
  /* flex-wrap: nowrap; */
}
.our-team .list-box {
  box-shadow: var(--shadow-box);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  line-height: calc(19 / 16);
}

.our-team .title-third {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
}
.our-team .text {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 16px;
  line-height: inherit;
}

.our-team .icon-list {
  gap: 10px;
  padding: 0 32px 30px 32px;
}
.our-team .icon-list .list-child {
  flex-basis: calc(100% / 4 - 10px);
  margin: 0;
  padding: 0;
}

.our-team .link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  transition: var(--transform-bgc);
  margin: 0;
}

.icon-network {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
  transition: var(--transform-icon);
}

.our-team .link:hover,
.our-team .link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.icon-list .link:hover .icon-network,
.icon-list .link:focus .icon-network {
  fill: var(--white-color);
}

.our-team img {
  display: block;
}

/* Постоянные клиенты */
.clients-list .list-child {
  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: var(--transform-border);
}

.clients-list .list-child:hover,
.icon-client-logo:hover,
.clients-list .list-child:focus,
.icon-client-logo:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
}

.icon-client-logo {
  width: inherit;
  height: inherit;
  transition: var(--transform-icon);
}

/* Футер */
.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
}

.footer .title-third {
  color: var(--white-color);
  text-transform: uppercase;
  line-height: calc(16 / 14);
  margin-top: 12px;
}

.footer .list {
  gap: 9px;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  line-height: calc(24 / 14);
}

.footer-column-nav .link {
  transition: var(--transform-text);
}

.footer-column-networks {
  margin-left: 70px;
}

.footer .icon-list {
  gap: 10px;
  flex-direction: row;
}

.footer-column-networks .link {
  width: 44px;
  height: 44px;
  padding: 12px;
  display: block;
  background-color: var(--icon-bg-color);
  border-radius: 50%;
  transition: var(--transform-bgc);
}

.footer-column-networks .icon-network {
  fill: var(--white-color);
}

.footer-column-networks .link:hover,
.footer-column-networks .link:focus {
  background-color: var(--accent-color);
}

.footer li:last-child {
  margin-bottom: 0px;
}

.footer .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer .address {
  font-style: normal;
  color: #ffffff;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

/* Фильтры страницы Портфолио */

.but {
  background-color: #f5f4fa;
  border-radius: 4px;
  border-width: 0px;
  padding: 6px 22px;

  font-family: inherit;
  font-size: 16px;
  line-height: calc(26 / 16);
  font-weight: 500;

  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;

  transition-property: background-color, color, box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.active-but {
  background-color: var(--accent-color);
  /* shadow-middle */

  box-shadow: var(--active-btn-shadow);
  border-radius: 4px;
  border-width: 0px;
  color: white;
}

.filter {
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .but:hover,
.filter .but:focus {
  background-color: var(--accent-color);
  /* shadow-middle */

  box-shadow: var(--active-btn-shadow);
  border-radius: 4px;
  border-width: 0px;
  color: white;
}

/* Карточки Портфолио */
.image {
  display: block;
}

.portfolio-list .list-child {
  display: block;
  position: relative;
}

.overflow {
  position: relative;
  overflow: hidden;
}

.card-link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.card-link .text-overlay {
  position: absolute;
  padding: 63px 24px;

  pointer-events: none;
  transition: var(--transform-box-shadow);

  background-color: var(--card-overlay-color);
  color: var(--white-color);
  font-size: 18px;
  line-height: calc(28 / 18);
}

.card-link:hover .text-overlay,
.card-link:focus .text-overlay {
  transform: translateY(-100%);
}

.border-box {
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
}

.portfolio-list .title-third {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list .text {
  font-size: 16px;
  line-height: calc(30 / 16);
}

.portfolio-list .list-child {
  transition: var(--transform-box-shadow);
}

.portfolio-list .list-child:hover,
.portfolio-list .list-child:focus {
  box-shadow: var(--card-shadow);
}
