/* Особенности  */

.benefits {
  padding-bottom: 0px;

  &-title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &-icon {
    width: 270px;
    height: 70px;
    border-radius: 4px;
    background-color: $third-background-color;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &-list {
    flex-wrap: nowrap;
  }
}
