/* Футер */
.footer {
  background-color: $second-background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
  }

  &__title {
    font-weight: bold;
    color: $white-color;
    text-transform: uppercase;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    margin-top: 12px;
  }

  &__networks {
    margin-left: 70px;
    margin-right: 93px;
  }

  &__list {
    gap: 9px;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    line-height: calc(24 / 14);
  }

  &__link {
    transition: $transform-text;
    text-decoration: none;
    color: $footer-text;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__address {
    font-style: normal;
    color: $white-color;
  }
}
