/* Футер */
.footer {
  background-color: var($second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
}

.footer .title-third {
  color: var($white-color);
  text-transform: uppercase;
  line-height: calc(16 / 14);
  margin-top: 12px;
}

.footer .list {
  gap: 9px;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
  line-height: calc(24 / 14);
}

.footer-column-nav .link {
  transition: var($transform-text);
}

.footer-column-networks {
  margin-left: 70px;
  margin-right: auto;
}

.footer .icon-list {
  gap: 10px;
  flex-direction: row;
}

.footer-column-networks .link {
  width: 44px;
  height: 44px;
  padding: 12px;
  display: block;
  background-color: var($icon-bg-color);
  border-radius: 50%;
  transition: var($transform-bgc);
}

.footer-column-networks .icon-network {
  fill: var($white-color);
}

.footer-column-networks .link:hover,
.footer-column-networks .link:focus {
  background-color: var($accent-color);
}

.footer li:last-child {
  margin-bottom: 0px;
}

.footer .link {
  text-decoration: none;
  color: var($footer-text);
}

.footer .address {
  font-style: normal;
  color: var($white-color);
}

.footer .link:hover,
.footer .link:focus {
  color: var($accent-color);
}
