// Форма в футере
.mail-form {
  margin-left: auto;
}

.mail-form .input-field {
  padding: 15px 16px;
  margin-right: 12px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: var($white-color);
  transition: var($transform-border);
}

.signup-form .input-field::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
}

.signup-form .input-field {
  width: 358px;
  height: 50px;
}

.signup-form {
  margin-top: 20px;
}

.subscribe-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;

  background-color: var($accent-color);
  color: var($white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  box-shadow: var($btn-box);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.subscribe-icon {
  margin-left: 10px;
  fill: var($white-color);
}

// Форма в Модальном окне (Главная. Герой)
.modal {
  width: 530px;
  height: 580px;
  background-color: var($white-color);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var($transform-bgc);

  box-shadow: var($shadow-box);
  border-radius: 4px;
  padding: 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $backdrop-overlay;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;
  background-color: inherit;
  border-radius: 50%;
  border: var($modalbut-border-color);
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  transition: var($transform-icon);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var($accent-color);
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  margin-bottom: 12px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.01em;
  color: var($text-color);
}

.input-field {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  outline: none;
  transition: var($transform-border);
}

.input-field:hover,
.input-field:focus {
  border-color: var($accent-color);
}

.input-field-icon {
  position: absolute;
  top: 28px;
  left: 12px;

  fill: var($primary-text-color);
  transition: var($transform-icon);
}

.input-field:hover + .input-field-icon,
.input-field:focus + .input-field-icon {
  fill: var($accent-color);
}

.input-field-text {
  padding: 12px 16px;
  margin-bottom: 10px;
  resize: none;
}
.input-field-text::placeholder {
  padding-top: 1px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.01em;
}

.check-text {
  font-size: 14px;
  color: var($fifth-text-color);
  display: flex;
  position: relative;
}

.check-item {
  width: 15px;
  height: 15px;

  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: var($transform-bgc);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .check-text > .check-item {
  background-color: var($accent-color);
  border-color: transparent;
}

.policy-link {
  color: var($accent-color);
}

.check-icon {
  fill: var($white-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: var($transform-icon);
}

.form-btn {
  color: var($white-color);
  background-color: var($accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  box-shadow: var($btn-box);
  border-radius: 4px;

  padding: 10px 56px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  letter-spacing: 0.06em;
  border: none;
  outline: none;
  cursor: pointer;
}
