// Хедер

.header {
  border-bottom: 1px solid #ececec;

  &__nav {
    display: flex;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 80px;
    margin: 0 auto;
    width: 100%;

    @media screen and (max-width: 767px) {
      max-width: 480px;
      max-height: 60px;
      margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: $text-color;
    transition: $transform-text;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &:hover .header__contacts--icon,
    &:focus .header__contacts--icon {
      fill: $accent-color;
    }
  }

  &__contacts {
    align-items: center;
    margin-left: auto;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      line-height: calc(14 / 12);
      gap: 10px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }

    &--link {
      position: relative;
      padding: 5px 0;
      @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }

    &--icon {
      top: 4px;
      position: absolute;
      max-width: 16px;
      max-height: 16px;
      fill: $text-color;
      transform: translateY(20%);
      transition: $transform-icon;

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        max-width: 14px;
        max-height: 14px;
        &_mail {
          left: 2px;
        }
      }

      @media screen and (min-width: 1200px) {
        top: 30px;
      }
    }
    &--cont_mail {
      margin-left: 25px;
    }
    &--cont_phone {
      margin-left: 21px;
    }
  }
}

.burger__icon {
  fill: $primary-text-color;
  width: 40px;
  height: 40px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

// Навигационное меню

.nav-list {
  gap: 50px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 84px;
    flex-wrap: nowrap;
  }

  &__link {
    display: inline-block;
    position: relative;
    color: $primary-text-color;
    &::before {
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
      content: "";
      left: 0;
      top: calc(100% - 3px);
      opacity: 0;
      transform: scale(0);
      transition: $transform-bgc;
    }
    &:hover::before,
    &:focus::before {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__selected {
    color: $accent-color;
    &::after {
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
      content: "";
      left: 0;
      top: calc(100% - 3px);
    }
  }
}
