.hero {
  background-color: $second-background-color;
  padding: 0;
  margin: 0;

  &__container {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/dd953143a8a4d9f86ec8d71afc0e8103.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    width: 100%;
    max-height: 600px;

    text-align: center;
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
  }
}
