// Соц-сети в блоке Наша Команда
.networks {
  gap: 10px;
  padding: 0 32px 30px 32px;
  &__child {
    flex-basis: calc(100% / 4 - 10px);
    margin: 0;
    padding: 0;
  }
  &__icon {
    fill: $icon-color;
    width: 20px;
    height: 20px;
    transition: $transform-icon;
  }
  &__link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    transition: $transform-bgc;
    margin: 0;
    &:hover,
    &:focus {
      background-color: $accent-color;
      border-radius: 50%;
    }
    &:hover .networks__icon,
    &:focus .networks__icon {
      fill: $white-color;
    }
  }
}

// Соцсети в Футере
.footer__networks {
  &--list {
    gap: 10px;
    flex-direction: row;
    padding: 20px 0 0 0;
  }
  &--link {
    background-color: $icon-bg-color;
    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
  &--icon {
    fill: $white-color;
  }
}
