/* Наша команда */
.our-team {
  background-color: $third-background-color;
  text-align: center;
  font-weight: normal;

  &__container {
    max-width: 480px;
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__list {
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }

  &__title {
    @include h2(bold, 36px, center, calc(42 / 36), 50px);
  }

  &__member {
    width: auto;
    display: block;
    box-shadow: $shadow-box;
    border-radius: 0px 0px 4px 4px;
    background-color: $white-color;
    line-height: calc(19 / 16);
    @media screen and (min-width: 768px) {
      max-width: 354px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 270px;
    }

    &--title {
      margin-top: 30px;
      font-size: 16px;
      font-weight: 500;
      line-height: inherit;
    }
  }

  &__text {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 16px;
    line-height: inherit;
  }

  &__image {
    width: 100%;
    display: block;
  }
}
