.portfolio__container {
  max-width: 480px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

/* Фильтры страницы Портфолио */

.portfolio__filter {
  gap: 8px;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  &--btn {
    background-color: $third-background-color;
    border-radius: 4px;
    border-width: 0px;
    padding: 6px 22px;

    font-family: inherit;
    font-size: 16px;
    line-height: calc(26 / 16);
    font-weight: 500;

    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03em;

    transition-property: background-color, color, box-shadow, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    &:hover,
    :focus {
      background-color: $accent-color;
      box-shadow: $active-btn-shadow;
      border-radius: 4px;
      border-width: 0px;
      color: $white-color;
    }
  }
  &--active {
    background-color: $accent-color;
    box-shadow: $active-btn-shadow;
    border-radius: 4px;
    border-width: 0px;
    color: $white-color;
  }
}

/* Карточки Портфолио */

.portfolio__list {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__card {
  width: 100%;
  max-width: 480px;
  min-height: 404px;
  display: block;
  position: relative;
  transition: $transform-box-shadow;

  &:hover,
  &:focus {
    box-shadow: $card-shadow;
  }

  &:hover .portfolio__card--border,
  &:focus .portfolio__card--border {
    border: transparent;
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 370px;
  }

  &--link {
    width: 100%;
    color: $primary-text-color;
    &:hover .portfolio__card--overlay,
    &:focus .portfolio__card--overlay {
      transform: translateY(-100%);
    }
  }

  &--overflow {
    position: relative;
    overflow: hidden;
  }

  &--image {
    width: 100%;
    display: block;
  }

  &--overlay {
    width: 100%;
    position: absolute;
    padding: 63px 24px;

    pointer-events: none;
    transition: $transform-box-shadow;

    background-color: $card-overlay-color;
    color: $white-color;
    font-size: 18px;
    line-height: calc(28 / 18);
  }

  &--border {
    border: 1px solid #eeeeee;
    border-top: 0px;
    padding: 20px 24px;
    transition: $transform-border;
  }

  &--title {
    font-weight: bold;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }

  &--text {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}
