// Чем мы занимаемся

.services {
  &__title {
    @include h2(bold, 36px, center, calc(42 / 36), 50px);
  }
  &__image {
    display: block;
  }

  &__child {
    position: relative;
  }

  &__link {
    &--overlay {
      position: absolute;
      width: 100%;
      bottom: 0;
      background-color: $bg-card-overlay;
      padding-top: 27px;
      padding-bottom: 27px;
    }
  }
  &__text {
    text-align: center;
    color: $white-color;
    @include upfont(bold, 14px, calc(16 / 14), 0.03em, uppercase);
  }
}
