// Чем мы занимаемся

.services {
  &__image {
    display: block;
  }

  &__child {
    position: relative;
  }

  &__link {
    &--overlay {
      position: absolute;
      width: 100%;
      bottom: 0;
      background-color: $bg-card-overlay;
      padding-top: 27px;
      padding-bottom: 27px;
    }
  }
  &__text {
    text-align: center;
    color: $white-color;
    font-weight: bold;
    line-height: calc(16 / 14);
    text-transform: uppercase;
  }
}
